101 RCData "ressources\slideleftright.bmp"
102 RCData "ressources\slideupdown.bmp"
200 RCDATA "ressources\c_notfound.jpg"
201 RCDATA "ressources\c_all.jpg"
202 RCDATA "ressources\c_nocover.jpg"
203 RCDATA "ressources\c_webradio.jpg"
