*.npl
*.gmp
*.map
*.dcu
*.local
*.identcache
*.drc
*.log
*.toc
*.aux
*.out
*.gz
*.yml
/bin/Data/tag_ignore
/bin/Data/tag_merge
/bin/Data/Hotkeys.ini
/bin/Data/Nemp.ini
/bin/Data/Nemp_EQ.ini
/bin/Data/NempWebServer.ini
bin/Data/000-Playlist.m3u
bin/Data/RandomPlaylist.ini
bin/Data/Cover/
bin/Data/CoverCache
/bin/Languages/de/LC_MESSAGES/default.po
/bin/Languages/de/LC_MESSAGES/howto upgrade.txt
/bin/Images/_unsued
/bin/bugreport.txt
/bin/Languages/de/LC_MESSAGES/__default - Kopie.mo
/bin/Skins/CatWoman/
/bin/Skins/Earth At Night/
/bin/Skins/Nemp 4.6
/bin/Skins/NewYork
/bin/Skins/Blue/__unused
/bin/Skins/Dark/_Unused
/src/*.stat
/src/__history/
/src/__recovery/
/src/common/__history
/src/G15App/__history
/src/3rd Party Units/__history/
/bin64
/bin/Skins/Classic/_unused
/src-help/_unused
/bin/_unused
/_unused
_Unused
/_web
/bin/Data/Playlists
/bin/Data/testmusik/*.mp3
/Components/AudioWerkzeugeBibliothek/__history
*.mp3
/src-help/nemp-help-de.pdf
/src-help/nemp-help-en.pdf
/bin/nemp-help-de.pdf
/bin/nemp-help-en.pdf
/Components/NempComponents/__history
/Web-Help/de
/Web-Help/en
