
src/__history/
src/3rd Party Units/__history/
bin/Data/Cover/
bin/Data/CoverCache
*.npl
*.gmp
bin/Data/tag_ignore
bin/Data/tag_merge
*.map
*.dcu
*.local
*.identcache
*.drc
bin/Data/Hotkeys.ini
bin/Data/Nemp.ini
bin/Data/Nemp_EQ.ini
bin/Data/NempWebServer.ini
bin/Images/[Originaldateien]/
bin/__nemp.exe
bin/bugreport.txt
bin/Data/000-Playlist.m3u
bin/Data/Nemp-PlayerLog.log
bin/Data/RandomPlaylist.ini
bin/Languages/de/LC_MESSAGES/__default - Kopie.mo
bin/Skins/CatWoman/
bin/Skins/Earth At Night/
