body {
	font-size: 100.01%;
	font-family: Verdana,Arial,sans-serif;
	text-align: left;
	margin: 0px auto;
	padding-top: 0px;
	background-color: #202020;
         font-size: 0.83em;
	color: #dddddd;
    	/*width: 240px;*/
    	max-width: 500px;
    	min-width: 240px;
	padding-bottom: 10px;
	margin-bottom: 10px;
	border-bottom: 1px solid #404040;
}


input.text {width: 98%; }
input.submit {}

.hidden {
	display: none ! important;
}

a {
	text-decoration: none;
	color: #dddddd;
}

h2 {
	padding-left: 5px;
	border-bottom: 2px solid #404040;
	font-size: 1.2em;
}

p {
margin:0;
padding:0;
}


.FileNotFound,
.FileNotFound a{
	text-decoration: line-through ! important;
}

p.warning {
	color: red;
}


div.menu {
	margin 5px;
	padding: 10px;
	border-bottom: 1px solid #404040;
	margin-bottom:10px;
}

ul.mainmenu {
	margin: 0;
	padding: 10px 0px;
	text-align: center;
	color: #202020;
	width: 236;	
}

ul.mainmenu li {
	list-style: none;
	display: inline;
	color: #202020;
	background-color: #dddddd;
	border: 1px solid white;
	padding: 8px 2px;
	margin: 2px;
}
ul.mainmenu li.active {	
	background-color: #fafafa;
}

ul.mainmenu a{
	color: #202020;
	padding: 8px 20px;
}
ul.mainmenu li:hover{
	background-color: #fafafa;
}

div.warning {
	color: red;
	padding-bottom: 10px;
}

div.error {
	color: red;
	border: red 2px solid;
	margin-bottom: 5px;
	margin-top: 5px;
	padding: 10px;
}

div.currenttitle {	
	margin-bottom: 10px;
	text-align: center;	
}

div.currentimage {
	text-align: center;
}


.playercontrol {
	padding-bottom: 10px;
	margin-bottom: 10px;
	text-align: center;
	border-bottom: 1px solid #404040;
}
a.button{
	//color: #202020;	
	//background-color: #fafafa;
	border: 1px solid #202020;	
	padding: 2px 5px;
	text-align: center;
	background-repeat: no-repeat;
	background-position: center;	
	display:inline-block;
}

a.button img{
	vertical-align: middle;
}

.player a:hover{
	//background-color: #fafafa;
	border-color: #ffffff;
}

.player .filecontrol{
	text-align: center;
	padding-top: 15px;
}

.playlist .button,
.search .button{
	border: 0px;
	padding: 0;
	margin: 0;
	width: 24px;  /* hide text */
	height: 24px; /* hide text */
	overflow: hidden;
}

.playlist li,
.search li {
	clear: both;
}

.playlist li div,
.search li div{
	float: left;
}

.playlist .controls{
	width: 120px;
	text-align:right;
}

.search .controls{
	width: 60px;
	text-align:right;
}

.playlist .title{
	width: 140px;
	padding-left:3px;
}

.search .title{
	width: 200px;
	padding-left:3px;
}
.playlist .title a,
.search .title a{
	display:block;
}

.playlist .duration,
.search .index{
	color: #999999;
}

.playlist .index{
	height:24px;
	vertical-align:super;
	margin-right:3px;
}

.playlist .cover,
.search .cover  {
	width: 50px;
}

ul.playlist,
ul.search {
	margin: 0; padding: 0px;
}

ul.playlist li,
ul.search li{
	list-style: none;
	margin:0;
}

ul.playlist li div.file,
ul.search li div.file{
	padding:3px;
}

ul.playlist li div.file:hover,
ul.search li div.file:hover{
	background-color: #707070;
}

div.playlist .current{
	background-color: #707070;
	color: #dddddd;
}

.details .left {
	width: 50%;
	float: left;
	padding-left:5px;
}

.details .artist, 
.details .title {
	font-size: 1.1em;
}
.details .album{
	color: #999999;
	padding-bottom: 5px;
	border-bottom: 1px solid #404040;
}

.details .data {
	color: #999999;
	margin-top: 5px;
}

.details .controls {
	clear: both;
	text-align: center;
}


ul.details {
	background-color: #202020;
    margin: 0; padding: 0px;
}

ul.details li{
         list-style: none;
         padding-right: 5px;
         padding-left: 5px;
         margin:0;
}



table.filenotfound{
	text-decoration: line-through;
}


div.playlistcontrol{
	font-size: 0.7em;
	text-align: right;
	width: 100%;
         clear: both;
	}

div.playlistcontrol ul{
	/*background-color: #404040;*/
	margin: 0; padding: 0px;
	color: #808080;
}

div.playlistcontrol ul li {
	list-style: none;
	display: inline;
	margin: 0em;
	padding-left: 5px;
	padding-right:0;

}

ul.actionmenu {
	margin-top: 10px;
	padding: 0;
}
