* {
	box-sizing: border-box;
}  

body {
	font-size: 100.01%;
	font-family: Verdana,Arial,sans-serif;
	text-align: left;
	margin: 0px auto;
	padding: 0px 10px 30px 10px;
	background-color: #202020;
    font-size: 0.83em;
	color: #dddddd;    
	max-width: 1000px;
	min-height: 423px;
}

.hidden {	
	display: none ! important;  
}

a {	
	text-decoration: none;
	color: #dddddd;
}
a:hover {
	color: red;
}

a.button {	
	padding: 2px 5px;
	/*text-align: center;*/
	display:inline-block;
	cursor: pointer;
}

a.button img{
	vertical-align: middle;
}

a img {	
	border: 0px;
}

h2 {
	padding-left: 5px;
	border-bottom: 2px solid #404040;
	font-size: 1.2em;
}

p {
	margin:0;
	padding:0;
}

.font10{ font-size: 10px; }
.font11{ font-size: 11px; }
.font12{ font-size: 12px; }
.font13{ font-size: 13px; }
.font14{ font-size: 14px; }
.font15{ font-size: 15px; }
.font16{ font-size: 16px; }
.font17{ font-size: 17px; }
.font18{ font-size: 18px; }
.font19{ font-size: 19px; }
.font20{ font-size: 20px; }
.font21{ font-size: 21px; }
.font22{ font-size: 22px; }
.font23{ font-size: 22px; }
.font24{ font-size: 23px; }

.FileNotFound .title{
	text-decoration: line-through ! important;
}
p.warning {
	color: red;
}
div.warning {
	color: red;
	padding-bottom: 10px;
}
div.error {
	color: red;
}

/*
	Menu
*/
div.menu {
	text-align: center;
	padding: 10px 0px;
	border-bottom: 1px solid #404040;
	margin-bottom:10px;
	display: inline-block;	
}
img.menuicon {
	margin-right: 5px;
	vertical-align: middle;
}
ul.mainmenu {
	margin: 0;
	padding: 0px 0px;
	text-align: center;
	height: 32px;
}

ul.mainmenu li {
	list-style: none;
	float: left;	
	padding: 4px 4px;	
	height: 32px;
}
ul.mainmenu li.active{			
	border-radius: 8px;
	box-shadow: 0 0 11px 4px #ddd; 
	background-color: #ddd;	
}
ul.mainmenu li.active a{
	color: #202020;
}

ul.mainmenu li a{
	display: inline-block;
}
div.browsemenu{
	margin-bottom: 10px;
	padding-bottom: 5px;
	border-bottom: 1px solid #404040;
}	
ul.browsemenu{
	display: inline;
}	
ul.browsemenu,
ul.charselection {
	margin-top: 5px;
	margin-bottom: 5px;
	padding:0;
}
ul.browsemenu li,
ul.charselection li  {
	padding: 0px 0px;
	display: inline;
}
ul.browsemenu li.active,
ul.charselection li.active {	
	border-radius: 4px;
	box-shadow: 0 0 11px 4px #ddd; 
	background-color: #ddd;	
	padding: 0px 2px;
}

ul.charselection li.sortmode {
	float: right;
}

ul.browsemenu li.active a,
ul.charselection li.active a {
	color: #111;
}

	ul.charselection::after,
	div.browsemenu::after
	{
		content: " ";
		clear: both;
		height: 0px;
		display: block;
	}


/* ---------------------------------------- */
/*  List of titles (Playlist, Librarylist)  */
/*  --------------------------------------- */
.listitem {
    width: 100%;
    display: flex;
    padding: 8px 3px;
    clear: both;
    min-height: 50px;
    border-bottom: 1px solid #333
}
.listitem:hover{	
	background-color: #333;
}

/* Playlist: Highlight the current title */
.listitem.current {
	background-color: #707070;
	color: #dddddd;
}
.listitem.current:hover {
	background-color: #808080;
}

/* different "columns" in the list */
.listitem .controls {
	flex: none;		
}
.listitem .browsercontrols {
	margin-right: 5px;
	flex: none;
}
.listitem .index{
	min-width: 2ch;
	flex: none;	
	text-align:right;	
	padding-left: 4px;
}
.listitem .titleinfo {
	margin-left: 5px;
	min-width: 120px;
	flex-grow: 1;	
	padding-left: 3px;
}
.listitem .cover {
	width: 50px;
	flex: none;
	overflow: hidden;	
}

/* different parts of the titleinfo*/
.listitem .title {
	font-size: 1.2em;
}
.listitem .artist,
.listitem .duration,
.listitem .album {
	color: #999999;
}

.listitem .votes {
	color: #999999;
	font-size: 0.85em;
}

/* prebook-index (This feature should not be used in the player when the webserver is active.) */
.listitem .prebook {
	font-size:0.85em;
	color: #999999;
}

/* ------------------------------------------------------ */
/* Summary section before a list of titles in the library */
/* Also: The main part of title information */
/*  ----------------------------------------------------- */
.mainitem {
	margin-bottom: 10px;
	padding-bottom: 10px;
	padding: 10px 5px;
	background-color: #333;	
}

.mainitem .cover {
	height: 200px;
	float: right;	
	overflow: hidden;
}
.mainitem .cover img {
	width: 200px;
	float: right;
	margin-right: 2px;
}
.mainitem .textcontainer {
	float: left;
	max-width: 600px;	
	padding-bottom: 5px;
}

.mainitem .maininfo, .mainitem .additionalinfo, .mainitem .playlistinfo {
	margin-bottom: 1em;
}
/* Main information about the item*/
.mainitem .albumartist {
	font-size: 1.5em;
	color: #999999;
}
.mainitem .albumtitle {
	font-size: 1.5em;	
}
.mainitem .fileartist {
	font-size: 1.5em;
	color: #999999;
}
.mainitem .filetitle {
	font-size: 1.5em;	
}
.mainitem .fileduration {
	color: #999999;
}
.mainitem .playlistinfo {
	color: #999999;
}

.mainitem .genrename,
.maininfo .artistname, 
.maininfo .searchtitle {
	font-size: 1.5em;
}

.mainitem .genreartistcount,
.mainitem .artistalbumcount {
	font-size: 1.2em;
	color: #999999;
}

/* Additional information about the item*/
.mainitem .additionalinfo, .mainitem .additionalinfo a {
	color: #999999;
}
.mainitem a:hover {
	color: red;
}
/* Technical information */
.mainitem .techinfo {
	color: #999999;
}
/* Audio player */
.mainitem .htmlplayer {
	padding-top: 10px;
	margin-top: 10px;	
	border-top: 1px solid #666666;
}
.mainitem .htmlplayer audio {
	width: 100%
}
/* Download the file */
.mainitem .playerdownload {
	margin-top: 10px;	
}
.mainitem .playerdownload a.button {
	padding-left: 0px;
}

/* ------------------------ */
/* Player Controls          */
/* ------------------------ */
#playercontrol {
	text-align: center;
	background-color: #333;
	padding: 15px 0px;
}
.progresscontainer {
	margin-top: 0px;
	padding: 0px 10px;
}

.playerslider {
	-webkit-appearance: none;
	appearance: none;
	width: 100%;
	height: 20px;
	border-radius: 8px;
	border: 1px solid #5880db;
	background: linear-gradient(#5880db, #2048a3, #2048a3, #00103e, #012682);
	-webkit-transition: .2s;
}
/* Playerslider, Thumb */
.playerslider::-webkit-slider-thumb {
	-webkit-appearance: none;
	appearance: none;
	width: 40px;
	height: 16px;
	border-radius: 7px;
	background: linear-gradient(white, #bdd5ff);
	cursor: pointer;
}
.playerslider::-moz-range-thumb {
	width: 40px;
	height: 14px;
	border-radius: 8px;
	background: linear-gradient(white, #bdd5ff);
	cursor: pointer;
}

/* Slider, Effects: Hover and disabled */
.slider:hover {
	filter: brightness(120%);
}
.slider:disabled,
.slider:disabled:hover {
	border-color: #999999;
	background: #dddddd;
	filter: brightness(100%);
}
.slider:disabled::-webkit-slider-thumb {
	background: #aaaaaa;
	border-color: #dddddd;
	cursor: default;
}
.slider:disabled::-moz-range-thumb {
	background: #aaaaaa;
	border-color: #dddddd;
	cursor: default;
}

/* Volume Control */
.volumecontainer{
	width: 250px;
	display:flex;
	margin: 10px auto ;	
}
.volumecontainer.ControlsForbidden {
	display: none;
}
.volumecontainer .volumerange {
	flex-grow:1;
}
.volumerange {
	margin-left: 5px;
	margin-right: 10px;
}
.volumeslider {
	-webkit-appearance: none;
	appearance: none;
	width: 100%;
	height: 16px;
	border-radius: 8px;
	border: 1px solid #5880db;
	background: linear-gradient(#5880db, #2048a3, #2048a3, #00103e, #012682);
	-webkit-transition: .2s;	
	margin-top: 6px;
}
/* Volume-Slider, Thumb */
.volumeslider::-webkit-slider-thumb {
	-webkit-appearance: none;
	appearance: none;
	width: 14px;
	height: 14px;
	border-radius: 7px;
	background: linear-gradient(white, #bdd5ff);
	cursor: pointer;
}
.volumeslider::-moz-range-thumb {
	width: 12px;
	height: 12px;
	border-radius: 7px;
	background: linear-gradient(white, #bdd5ff);
	cursor: pointer;
}

/* Slider for the current track on the playlist page (currently deactivated by JS, just a progress bar) */
.playlistprogresscontainer {
	padding: 5px 3px 5px 0px;
	margin-right: 10px;
}
.playlistslider {
	-webkit-appearance: none;
	appearance: none;
	width: 100%;
	height: 10px;
	border-radius: 5px;
	border: 1px solid #5880db;
	background: linear-gradient(#5880db, #2048a3, #2048a3, #00103e, #012682);
	-webkit-transition: .2s;
}
.playlistslider::-webkit-slider-thumb {
	-webkit-appearance: none;
	appearance: none;
	width: 20px;
	height: 10px;
	border-radius: 5px;
	background: linear-gradient(white, #bdd5ff);
	cursor: pointer;
}
.playlistslider::-moz-range-thumb {
	width: 20px;
	height: 8px;
	border-radius: 4px;
	background: linear-gradient(white, #bdd5ff);
	cursor: pointer;
}

.playerbuttons{
	width: 200px;
	margin: auto;			
	margin-top: 15px;
	margin-bottom: 10px;
}
.playerbuttons.ControlsForbidden {
	display: none;
}

.playing .btnplay{
	display: none;
}
.notplaying .btnpause{
	display: none;
}

.htmlplayer {
    padding-top: 10px;
    margin-top: 10px;
    border-top: 1px solid #666666;
}
.htmlplayer p {
	color: #999999;
	font-size: 0.8em;
	margin-bottom: 5px;
}

audio {
	height: 2rem;
}

.playlist .button,
.library .button{	
	padding: 0;
	margin: 0;
	width: 24px;  /* hide text */
	height: 24px; /* hide text */
	overflow: hidden;
}

.button:hover{
	box-shadow: 0 0 11px #666; 
}

.details .controls {
	background-color: #333;
	padding: 5px 5px;
}


/*
	Search Form
*/
form {
	margin-bottom: 5px;
	display: inline;
}
input.text {
	width: 60px; 
	padding: 0px;
}
div.browsemenu input.button {
	padding: 0;
	height: auto;
	width: auto;
	padding: 0px 2px;
}


/* ------------------------ */
/* Browse pages             */
/* ------------------------ */
div.AlbumContainer{
	width: 33.33%;
	height: 86px;
	overflow: hidden;
	float:left;	
	margin-bottom: 2px;
}
.albumitem {
	padding: 2px;
	height: 100%;
	margin-right: 2px;
	background-color: #303030;
	border: 1px solid #404040;
	display: block;
}
.albumitem .artist {
	color: #999999;
}
.albumitem .album {
	font-size: 1.1em;
}
.albumitem .count {
	color: #999999;
	font-size: 0.85em;
}
.albumitem .cover {
	width: 80px;
	float: left;
	margin-right: 5px;
}
.albumitem .cover img {
	width: 80px;
}
span.tagcloud {	
	margin: 10px;
}

/* Pagination */
div.pagination{
	text-align: center;
	border-top: 1px solid #404040;
	margin-top:5px;
	padding-top:5px;
}
a.pagination {
	padding-left:5px;
	padding-right:5px;

}

.nowPlayingIcon {
	position: relative;
	display: flex;
	justify-content: space-between;	
	margin-top:4px;
	width: 23px;
	height: 20px;
}
.nowPlayingIcon span {
	width: 5px;
	height: 0px;
	background-color: dodgerblue;
	border: 1px solid blue;	
	border-radius: 3px;
	margin-top: 16px;	
	content: '';
}

.nowPlaying span {
	height: 100%;
	margin-top: 0px;
	transform-origin: bottom;
	animation: bounce 1.5s ease infinite alternate;	
}
.nowPlaying span.bar1 {
	animation-delay: -1.5s; 
}
.nowPlaying span.bar2 {
	animation-delay: -1.6s; 
}
.nowPlaying span.bar3 {
	animation-delay: -1.7s; 
}
.nowPlaying span.bar4 {
	animation-delay: -1.8s; 
}

@keyframes bounce {
	00% {
		transform: scaleY(0.1); 
	}

	10% {
		transform: scaleY(0.2); 
	}

	30% {
		transform: scaleY(0.6); 
	}

	60% {
		transform: scaleY(0.4); 
	}

	80% {
		transform: scaleY(0.95);
	}

	100% {
		transform: scaleY(0.6); 
	}	
}


@media only screen and (max-width: 750px) {
	.browsealbum .cover, .browsealbum .cover img {
		width: 60px;
	}
	div.AlbumContainer {
		width: 50%;
	}
}

@media only screen and (max-width: 300px) {
	div.AlbumContainer {
		width: 100%;
	}
}

