nxpCSV RCDATA "ressources\\csv.nxp"
nxpHTML RCDATA "ressources\\html.nxp"
nxpEmpty RCDATA "ressources\\empty.nxp"
nxpJson RCDATA "ressources\\json.nxp"
WinampDSP RCDATA "ressources\\How to add Winamp DSP Plugins.txt"
