body {
	font-size: 100.01%;
	font-family: Verdana,Arial,sans-serif;
	text-align: left;
	margin: 0px auto;
	padding-top: 0px;
	padding-bottom: 30px;
	background-color: #202020;
    font-size: 0.83em;
	color: #dddddd;
    width: 360px;	
	min-height: 423px;
}

.hidden {	
	display: none ! important;  
}

a {	text-decoration: none;
	color: #dddddd;
}

a:hover{
	color: red;	
}

a.button{	
	padding: 2px 5px;
	text-align: center;
	display:inline-block;
	cursor: pointer;
}

a.button img{
	vertical-align: middle;
}

a img {	border: 0px;}

h2 {
	padding-left: 5px;
	border-bottom: 2px solid #404040;
	font-size: 1.2em;
}

p {
	margin:0;
	padding:0;
}


.FileNotFound .title{
	text-decoration: line-through ! important;
}
p.warning {
	color: red;
}
div.warning {
	color: red;
	padding-bottom: 10px;
}
div.error {
	color: red;	
	margin-bottom: 5px;
	margin-top: 5px;
}

/*
	Menu
*/
div.menu {
	text-align: center;
	padding: 10px 0px;
	border-bottom: 1px solid #404040;
	margin-bottom:10px;
}
img.menuicon {
	margin-right: 5px;
	vertical-align: middle;
}
ul.mainmenu {
	margin: 0;
	padding: 0px 0px;
	text-align: center;
	height: 40px;
}

ul.mainmenu li {
	list-style: none;
	float: left;
	border: 1px solid #202020;
	padding: 5px 4px;	
	height: 32px;
}
ul.mainmenu li.active{		
	border-color: #fafafa;
}
ul.mainmenu li a{
	display: inline-block;
}
div.browsemenu{
	margin-bottom: 10px;
	padding-bottom: 5px;
	border-bottom: 1px solid #404040;
}	
ul.browsemenu{
	display: inline;
}	
ul.browsemenu,
ul.charselection {
	margin-top: 5px;
	margin-bottom: 5px;
	padding:0;
}
ul.browsemenu li,
ul.charselection li  {
	display: inline;
}
ul.browsemenu li.active,
ul.charselection li.active {
	border: 1px solid red;
}


/*
  Playlist 
*/
div.playlistitem,
div.libraryitem {	
	width: 350px;
	padding: 3px;	
	clear:both;
	min-height: 50px;
}

div.playlistitem .controls,
div.playlistitem .index,
div.playlistitem .title,
div.playlistitem .cover {	
	float: left;	
	display: inline-block;
	vertical-align: top;
}
div.playlistitem .controls{
	width: 25px;
}
div.playlistitem .index{
	width: 25px;
	padding-right:5px;
	text-align:right;	
}
div.playlistitem .title{
	width: 241px;
	padding-left: 3px;
}
div.playlistitem .cover{
	width: 50px;
	overflow: hidden;	
}
div.current ,
div.current .title{
	background-color: #707070;
	color: #dddddd;
}
span.votes{
	color: #999999; 
	font-size: 0.85em;
}
span.duration {
	color: #999999; 
}
span.prebook{
	font-size:0.85em;
	color: #666666;
}
span.noprebook {
	font-size:0.9em;
	display: none;
}


/*
  Library-List (Searchresults)
*/
div.libraryitem .controls,
div.libraryitem .title,
div.libraryitem .cover {	
	float:left;
	vertical-align: top;
}
div.libraryitem .controls{
	width: 30px;
}
div.libraryitem .title{
	width: 265px;
	padding-left: 3px;
}
div.libraryitem .cover{
	width: 50px;
	overflow: hidden;	
}

/*
	Player
*/
div.currenttitle {	
	margin-bottom: 10px;
	text-align: center;	
}
div.currentimage {
	text-align: center;
}
div.progresscontainer{	
	padding:10px 20px;
}

.playercontrol {
	padding-bottom: 10px;	
	text-align: center;
	border-bottom: 1px solid #404040;
	height: 40px;
	width: 360px;
	position: relative;	
}
.player .filecontrol{
	text-align: center;
	padding-top: 15px;
}

.playlist .button,
.library .button{	
	padding: 0;
	margin: 0;
	width: 24px;  /* hide text */
	height: 24px; /* hide text */
	overflow: hidden;
}

/*
	Details
*/
.details .left {
	width: 50%;
	float: left;
	padding-left:5px;	
}
.details .artist, 
.details .title,
.player .currenttitle {
	font-size: 1.1em;
}
.details .album{
	color: #999999;
	padding-bottom: 5px;
	border-bottom: 1px solid #404040;
}
.details .data {
	color: #999999;
	margin-top: 5px;
	margin-bottom: 10px;
}
.details .controls {
	clear: both;
	padding-left: 30px;
	padding-top: 10px;
	border-top: 1px solid #404040;
}

/*
	Search Form
*/
form {
	margin-bottom: 5px;
	display: inline;
}
input.text {
	width: 80px; 
	padding: 0px;
}
input.button {
	padding: 0;
}

/*
	Browse-Pages
*/
div.browsealbum{
	height: 68px;
	overflow: hidden;
	padding: 2px;
	margin-bottom: 2px;
	margin-right: 2px;
	background-color:#303030;
	border: 1px solid #404040;
	float:left;
}
.browsealbum .title{	
	width: 70px; 
	float: left;
	padding-left: 2px;
}
.browsealbum .count {
	color: #999999; 
	font-size: 0.85em;
}
.browsealbum .cover{
	width:40px; 
	float: left;
}
span.tagcloud {	
	margin: 2px;
}

/*
	Pagination
*/
div.pagination{
	text-align: center;
	border-top: 1px solid #404040;
	margin-top:5px;
	padding-top:5px;
}
a.pagination {
	padding-left:5px;
	padding-right:5px;

}